<div class="container mb-5">
  <h1 class="my-5">Movies</h1>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    {{#each movies as |movie|}}
      <div class="col">
        <div class="card h-100">
          <img src="{{movie.image}}" class="card-img-top" alt="{{movie.title}}">
          <div class="card-body">
            <h5 class="card-title">{{movie.title}}</h5>
            <p class="card-text">{{movie.description}}</p>
            <a href="/movies/{{movie._id}}">Details</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>